/* Downloaded Fonts */
/* font-family: 'Anton', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'K2D', sans-serif; */

html { 
  background: url("../images/Skola.jpg") no-repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: end;
}

li {
  display: inline;
}

a {
  color: whitesmoke;
  font-family: 'K2D', sans-serif;
  text-decoration: none;
  margin: 5px;
}

/* INDEX PAGE */

.title-info {
  margin: 60px;
}

h1 {
  color: whitesmoke;
  text-align: center;
  text-shadow: 1px 1px #000000;
  font-family: 'K2D', sans-serif;
  font-size: 45px;
  margin-bottom: 0px;
}

h3 {
  color: whitesmoke;
  text-align: center;
  text-shadow: 1px 1px #000000;
  font-family: 'K2D', sans-serif;
  font-size: 20px;
  margin-top: 0px;
}

.profile_pic {
  width: 25%;
  height: 45%;
  margin: 1%;
  align-content: left;
  display: inline;
}
.profile_discrip {
  display: inline;
  margin: 1%;
}

.personal {
  display: flex;
  /* margin: 20%; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: rgba(225, 225, 225, 0.4);
  padding: 3%;
  border-radius: 4%;
  font-weight: bold;
  color: #2b344a;
  font-family: 'K2D', sans-serif;
  font-size: 14px;
  /* opacity: 0.5; */
  /* color: black; */
  /* filter: alpha(opacity=0); */
}

/* CONTACT PAGE */

.form {
  /* align-content: center; */
  text-align: left;
  margin-left: 20%;
  font-weight: bold;
  color: #2b344a;
  font-family: 'K2D', sans-serif;
  margin-top: 5px;
}

.form-input {
  font: unset;
  width: 70%;
  padding: 5px;
  margin-top: 7px;
  background-color:  rgba(225, 225, 225, 0.7);
  color: #2b344a;
  font-family: 'K2D', sans-serif;
  font-size: 13px;
}

.form-submit {
  /* font-family: unset; */
  background-color:  rgba(225, 225, 225, 0.7);
  color: #2b344a;
  font-family: unset;
  font-weight: bold;
  font-family: 'K2D', sans-serif;
  font-size: 15px;
  align-content: center;
  width: 100px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 29%;
}